<% layout("/layouts/boilerplate") %>
<div class="container main-container navbar-expand">
    <div class="row justify-content-evenly mt-4">
        <% for(let listing of allListings) { %>
            <% if(listing.catagory === catagory) { %>
                <div class="card home-cards mt-3" style="width: 26rem;">
                    <a href="/listings/<%= listing.id %>" class="listing-link">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 19rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b> <br>
                                <%= listing.price.toLocaleString("en-IN") %> / night<br>
                                <%= listing.catagory %><br>
                                <%= listing.location %><br>
                                <%= listing.country %>
                            </p>
                        </div>
                    </a>
                </div>
            <% } %>   
        <% } %>
    </div>
</div>