<% layout("/layouts/boilerplate") %>
<div class="container">
  <div class="row justify-content-evenly mt-4">
    <% if (allListings.length === 0) { %>
      <div class="text-center mt-5">
        <h4>No listings match "<%= place %>"</h4>
      </div>
    <% } %>
    <% for (let listing of allListings) { %>
      <div class="card home-cards mt-3" style="width: 26rem;">
        <a href="/listings/<%= listing.id %>" class="listing-link">
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing-image" style="height: 19rem">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
            <b><%= listing.title %></b> <br>
            <%= listing.price.toLocaleString("en-IN") %> / night<br>
            <%= listing.category %><br>
            <%= listing.location %><br>
            <%= listing.state %><br>
            <%= listing.country %>
            </p>
          </div>
        </a>
      </div>
    <% } %>
  </div>
</div>
